body { 
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1200px;
    margin: auto;
}

header {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 0px;
    background-image: url(../saas-project-assets/banners/header_bg.svg);
    
}

.header-logo {
    width: 200px;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

[aria-controls ="navbarDropdown"] {
    display: none;
}

.nav-links {
    display: flex;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
    display: flex;
    font-weight: 600;
    font-size: 18px;
    padding-right: 15px;
}

li {
    padding:0 10px;
}

li a { color: gray;}

.spec-link {color: rgb(19, 146, 242);}

.btn {
    display: flex;
    background-color: rgb(19, 146, 242);
    width: 110px;
    height: 50px;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 16px;
    font-weight: 600;
}

.container {
    display: flex;
    justify-content: space-evenly;
}

.container-left { max-width: 400px;}

h2 {
    font-size: 50px;
    margin-top: 100px;
    margin-bottom: 10px;   
}

span a {
    color: rgb(19, 146, 242) ;
    font-weight: 600;
    padding-left: 20px;
}

.container-links {
    display: flex;
    align-items: center;
}

.video-btn {
    width: 150px;
}

.container-right {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    width: 450px;
}

.img-logo { 
    width: 45px;
    
}

.logo-icon {
    width: 75px;
    height: 75px;
    box-shadow: 0 0 10px rgba( 0, 0, 0, 0.4);
    border-radius: 75px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.google-img { width: 40px; }

.google, .google-a { 
    width: 60px;
    height: 60px;
}

.asana { grid-column: 4; }
.weave { grid-column: 3; }
.calander { grid-column: 4; }
.google-a { grid-column: 2;}

.benefits-section { 
    padding-top: 100px;
    padding-bottom: 100px;
}

.benefits-text { text-align: center;}

h3{ 
    font-size: 30px;
    font-weight: 700;
}

.benefits-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 100px;
}

.benefits-card  {
    width: 200px;
    box-shadow: 0 5px 20px rgba(50, 50, 50, 0.3);
    padding: 15px;
    line-height: 1.75;
}

.benefits-card  a {
    color: #1392f2; 
    font-weight: 600;
    padding-top: 30px;
}

.benefits-img { width: 50px; }

.benefits-link {padding-top: 25px;}

.example-section {
    display: flex;
    padding: 0 50px;
    padding-top: 100px;
    background-color: #f5f5fb;
    align-items: stretch;
    justify-content: space-around;
    flex-wrap: wrap;
}


.example-right img, .example-left { width: 450px; }

.why-text {
    text-align: center;
    padding-top: 75px;
}

.why-bullets {
    display: grid;
    grid-template-columns: auto;
    grid-auto-flow: column;
}

.player img { max-width: 100%;}



.play-btn {
    position: relative;
    left: 50%;
    bottom: 250px;
    z-index: 50;
    box-shadow: 0 0 15px;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center
}

.testimonial {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.testimonial-left { display: flex;}

.dots {
    width: 150px;
    margin-left: 40px;
    position: relative;
    top: 40px;
}

.test-img {
    width: 300px;
    position: relative;
    left: -115px;
}

.hubspot { width: 90px;}

.right-text {
    font-size: 25px;
}

.company-logos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.company { width: 120px;}

.trusted h3 {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 45px;
    color: gray;
}

.price-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

.price-header h3 {margin: 0;}

.big-card   {
    width: 270px;
    box-shadow: 0 0 15px lightgrey;
    padding: 20px;
    margin: 50px;
}

.big-price {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}


.big-price h2 {
    margin: 20px;
}

.price-btn { margin-top: 100px;}
.card { width: 50px;}
.small-card {width: 300px;}

.prize-cards {
    display: flex;
    justify-content: space-evenly;;
}

.small-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 50px;
}

.hire-us {
    background-color: #26326e;
    background-image: url(../saas-project-assets/abstract/hire-us-transparent-pattern-bg.svg);
    display: flex;
    justify-content: space-evenly;
}

.hire-left {
    padding: 100px;
    color: white;
}

.grey   {color: grey;}

.hire-left hr { margin: 50px 150px 50px 0px;}

.hire-left h4 { margin: 50px 0px -10px 0px;}

.headshots {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
}

.headshot1 {
    width: 50px;
    border-radius: 50px;
}

.headshot2 {
    width: 75px;
    border-radius: 75px;
}

.hire-right {
    width: 500px;
    border-radius: 10px;
    background-color: white;
    margin: 30px
}
.hire-right {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr
}

.hire-right h4 { grid-column: 1 / 3;}

.textarea {
    grid-column: 1 / 3;
    width: 410px;
    
}

.check {
    grid-column: 1 / 3;
    padding: 5px 50px;
}

.hire-right .btn {    
    grid-column: 1 / 3;
    margin-bottom: 50px;
} 

.name {
    height: 30px;
    
}

select  {
    width: 177px;
    height: 38px;
    
}

.policy {
    grid-column: 1 / 3;
}

.policy a {
    color: rgb(19, 146, 242);
    padding: 15px;
}

.footer-top {
    margin: 100px 50px 0px 50px;
    display: flex;
    justify-content: space-evenly;
}

.footer-logo {width: 125px;}

.footer-ul    {
    display: flex;
    flex-direction: column;
    margin-inline-start: -40px;
}

.address, .phone {
    font-family: Arial, Helvetica, sans-serif ;
}

.footer-li {padding-bottom: 10px;}

.bottom-nav h3 {
    margin: 0;
    padding: 0 10px;
}

footer hr{ margin: 25px;}

.footer-breadcrumb-item {
    display: flex;
    align-items: center;
}

.footer-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-social {display: flex;}

.social-icons {
    background-color: #d6e3ef;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 0 5px;
}

#country {
    background-color: #d6e3ef;
    height: 40px;
    border-radius: 10px;
    margin: 0 40px 0px 5px;
}

.footer-text {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    align-items: center;
    margin: auto;
    text-align: center;
}
